### CSV to Database

In [ ]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.0-unsupported)

In [ ]:
import pandas as pd
import pyodbc

In [ ]:
cnxn = pyodbc.connect(driver='{SQL Server Native Client 11.0}', 
                      host="########", database="master", trusted_connection="yes",
                      user="########",password="")

In [ ]:
df = pd.read_csv("BitcoinPrice.csv")

In [ ]:
df.head()

   Unnamed: 0      Timestamp      BTCPrice
0           0  1641860100000  41854.041066
1           1  1641861000000  41785.570672
2           2  1641861900000  41766.973148
3           3  1641862800000  41732.555234
4           4  1641863700000  41731.888963

In [ ]:
df=df.drop(columns="Unnamed: 0")

In [ ]:
df.dtypes

Timestamp      int64
BTCPrice     float64
dtype: object

In [ ]:

cnxn.execute('''
		CREATE TABLE Bitcoinss (
			Timestamp BIGINT,
			BTCPrice FLOAT
			)
               ''')

In [ ]:
cnxn.commit()

Inserting values to the Table bitcoin

In [ ]:

for row in df.itertuples():
    cnxn.execute('''
                INSERT INTO bitcoin (Timestamp, BTCPrice)
                VALUES (?,?)
                ''',
                row.Timestamp, 
                row.BTCPrice
                )
cnxn.commit()